datasets==2.19.0
datasketch==1.6.4
ftfy==6.2.0
jieba==0.42.1
jsonlines==4.0.0
langchain==0.1.16
langchain_community==0.0.34
langchain_core==0.1.46
mmengine==0.10.4
peft==0.10.0
PyPDF2==3.0.1
rank_bm25==0.2.2
Requests==2.31.0
torch==2.2.2
tqdm==4.66.2
transformers==4.40.0
xtuner==0.1.18
